<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Money Dynasty</title>
</head>
<body>

<a href="{% url 'rosters:index' %}">Home</a> |
<a href="{% url 'rosters:allplayers' %}">All Players</a> |
<a href="{% url 'rosters:rosters' %}">Rosters</a> |
<a href="{% url 'rosters:draftpicks' %}">Draft Picks</a> |
<a href="{% url 'rosters:trades' %}">Trades</a>
<br><br>

    <header>Welcome to Free Money!</header>
    <ul>
        <li><a href="{% url 'rosters:allplayers' %}">All Players</a></li>
        <li><a href="{% url 'rosters:rosters' %}">Rosters</a></li>
        <li><a href="{% url 'rosters:draftpicks' %}">Rookie Draft Picks</a></li>
        <li><a href="{% url 'rosters:trades' %}">Trades</a></li>
    </ul>
</body>
</html>