<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Money - Rosters</title>
</head>
<body>

<a href="{% url 'rosters:index' %}">Home</a> |
<a href="{% url 'rosters:allplayers' %}">All Players</a> |
<a href="{% url 'rosters:rosters' %}">Rosters</a> |
<a href="{% url 'rosters:draftpicks' %}">Draft Picks</a>
<br><br>

<ul>
 {% for manager in managers %}
     <li><a href="{% url 'rosters:roster_detail' manager.manager_key %}">{{ manager }}</a></li>
 {% endfor %}
</ul>


</body>
</html>